<div class="furniture-preview">
  <button class="close-button" (click)="close.emit()" aria-label="Fermer" title="Fermer" type="button"></button>

  <div class="thumb">
    @if (target.displayImage) {
      <img [src]="target.displayImage" [alt]="target.name" />
    }
  </div>

  <div class="info">
    <div class="name">{{ target.name }}</div>
    @if (canManage()) {
      <div class="actions">
        <button class="btn-icon" (click)="rotate()" aria-label="Tourner" title="Tourner" type="button">⟳</button>
        <button class="btn-take" (click)="take()" type="button">Prendre</button>
      </div>
    }
  </div>
</div>
